.app{
    margin-top: 2em;
}

.gameName{
    letter-spacing: 5px;
}
.startBtn{
    border: 0;
    outline: none;
    padding: 0.8em;
    border-radius: 5px;
    background-color: rgb(207, 135, 47);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.startBtn:hover{
    transition: 0.2s ease-in;
    opacity: 0.8;
    color:rgb(24, 24, 24);
}

.cards{
    position: relative;
    width: 50%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:20px;
}

.winner{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgb(1, 1, 1);
    width: 100%;
    border-radius: 5px;
    padding: 1em;
    z-index: 10;
    font-size: 30px;
    color: rgb(154, 227, 227);
}